@*
*@
@{
    ViewData["Title"] = "Deposit";
}

<form class="deposit-form">
    <input type="number" id="amount" placeholder="Enter amount" />
    <button type="submit" id="depo-btn">Deposit</button>
    <div id="result"></div>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.deposit-form').on("submit", (e) => {
                e.preventDefault();
                var amount = $('#amount').val();
                if (!amount || parseFloat(amount) <= 0) {
                    $('#result').text('Please enter a valid amount.');
                    return;
                }

                $.ajax({url: '@Url.Action("SubmitDeposit", "DepositWithdraw")',type:'POST',data: {amount: amount},
                    success: function (response) {
                        if(response?.redirectUrl)
                        {
                            window.location.href = response.redirectUrl;
                        }
                        $('#result').text(response.message);
                    }, error: function (xhr, status, error) {
                        console.log(error,xhr, status);
                            $('#result').text('Server cant corespond now!!');
                    }
                });
            });
        });
    </script>
}